# Directus Setup for Nuxt app
# Directus Cloud urls typically look like this https://your-instance.directus.app or if you're running a local instance of Directus, it will look like this http://localhost:8055 or http://0.0.0.0:8055 or http://127.0.0.1:8055/ (depending on your setup)

DIRECTUS_URL="https://your-instance.directus.app"
DIRECTUS_SERVER_TOKEN="your_directus_server_token_for_server_only_routes"
SITE_URL="http://localhost:3000"

# Stripe Setup (If you want to allow payments within the portal)
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxx
STRIPE_PUBLISHABLE_KEY=pk_xxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxx
