.visual-effects .mouse-gradient {
  background: repeating-linear-gradient(
    to right,
    #6644ff 0%,
    #947cff 50%,
    #ff99dd 100%
  );
  filter: blur(100px);
  opacity: 0.5;
}

.grain-bg {
  background-image: url('~~/assets/img/noise.png');
}

::selection {
  @apply bg-accent text-white;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Using Tailwind @apply so we can easily re-use these styles for other 'button' based components like NuxtLink or VDropdown or within prose */
.btn {
  @apply font-mono inline-flex font-bold text-white transition duration-150 odd:rounded-tr-lg odd:rounded-bl-lg even:rounded-tl-lg even:rounded-br-lg hover:scale-105 active:hover:scale-95 ease-in-out disabled:opacity-60 disabled:cursor-not-allowed;
}

.btn-xs {
  @apply px-3 py-1 text-xs;
}

.btn-sm {
  @apply px-4 py-2 text-sm;
}

.btn-md {
  @apply px-5 py-3 text-base;
}

.btn-lg {
  @apply px-6 py-3 text-lg;
}

.btn-xl {
  @apply px-8 py-4 text-lg;
}

.btn-default {
  @apply text-gray-800 bg-gray-200 hover:bg-gray-300 dark:bg-gray-600 dark:text-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300;
}
.btn-primary {
  @apply text-white dark:text-gray-900 bg-gray-900 hover:bg-gray-800 dark:bg-accent dark:hover:bg-opacity-90;
}
.btn-outline {
  @apply text-gray-900 bg-transparent border-2 border-gray-900 hover:border-accent hover:text-accent dark:text-accent dark:hover:text-white focus:ring-accent dark:border-accent dark:hover:border-white;
}
.btn-danger {
  @apply text-white bg-red-600 hover:bg-red-700 focus:ring-red-500;
}

.input {
  @apply block w-full dark:bg-gray-800 dark:text-white text-lg md:text-base border-gray-300 dark:border-gray-700  shadow-sm focus:ring-accent focus:border-accent placeholder:text-gray-400 dark:placeholder:text-gray-600;
}
